<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Chat Room</title>
	<link rel="stylesheet" href="/chat/css/main.css" />
</head>

<body>
	<meta charset="UTF-8">
	<noscript>
		<h2>Sorry! Your browser doesn't support Javascript</h2>
	</noscript>

	<div id="chat-page" >
		<div class="chat-container">
			<div class="chat-header">
				<!-- Hiển thị tên người dùng từ SessionInfoname -->
				
				<h2>Phòng Chat Trực Tuyến Với Nhân Viên</h2>
				<!-- Thêm nút quay về -->
				
			</div>
			
			<ul id="messageArea"></ul>
			<form id="messageForm" name="messageForm">
				<div class="form-group">
					<div class="input-group clearfix">
						<input type="text" id="message" placeholder="Type a message..." autocomplete="off"
							class="form-control" />
						<button type="submit" class="primary">Send</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script src="/chat/js/main.js"></script>

	
</body>

</html>
